/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scrollbar-width: thin;
    scrollbar-color:#00c3a5 #fff ;
    scroll-padding-top: 70px; 
}

/* Body and General Styles */
body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    scroll-behavior: unset;
}

body.modal-open {
    overflow: hidden;
}

 /* Apply margin on mobile devices */
 @media (max-width: 768px) {
    .carousel-item .col-md-6 {
        margin-bottom: 20px; /* Adjust this value to your preference */
    }
}
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    color: #333; /* Loader text color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999; /* Ensure it's on top */
}

/* Optional spinner animation */
.loader::after {
    content: '';
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #00c3a5; /* Blue */
    border-radius: 50%;
    width: 50px; /* Size of the spinner */
    height: 50px;
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Container for Layout */
/* .container {
    width: 80%;
    margin: 0 auto;
} */

/* Header */
header {
    background-color: #fff;
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #00c3a5;
    font-size: 1.8rem;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00c3a5;
}

/* Hero Section */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3f3f3;
    /* padding: 50px; */
    /* margin-top: 20px; */
    /* height: 100vh; */
}
.hero-content {
    max-width: 50%;
}
.hero-content h1 {
    font-size: 3rem;
    color: #333;
}
.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #666;
}
.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #666;
}
/* Large screens and up (>=992px) */
.round-border {
    border-radius: 16px; /* Default radius for large screens */
}

/* Medium screens and below (max-width: 991.98px) */
@media (max-width: 991.98px) {
    .round-border {
        border-radius: 8px; /* Smaller radius for medium screens */
    }
}

/* Small screens and below (max-width: 767.98px) */
@media (max-width: 767.98px) {
    .round-border {
        border-radius: 4px; /* Smaller radius for small screens */
    }
}

/* Extra small screens (max-width: 575.98px) */
@media (max-width: 575.98px) {
    .round-border {
        border-radius: 0px; /* No border radius on mobile screens */
    }
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #00c3a5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
} 

.btn:hover {
    background-color: #009a80;
} 


/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

/* minipackage */
.brand-wrap{
    background-color: white;
    width: 200px;
    padding: 5px;
    border-radius: 50px 50px 50px 50px;
}